* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.btnContainer {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.png);
    background-size: 100% 100%;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.4;
            background-color: black;
    }

    .button {
        position: absolute;
        padding: 5px 13px;
        border-radius: 20px;
        z-index: 1;
        opacity: 0.7;
        border: none;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: .8s ease color, 1.2s ease background-color;

        &::before {
            text-align: center;
            font-size: 26px;
            content: "+";
        }

        &::after {
            width: 0px;
            overflow: hidden;
            text-align: center;
            font-size: 17px;
        }

        &:hover {
            background-color: white;
            opacity: 1;
            color: rgb(85, 84, 84);
        }
    }

    .activeBtn {
        opacity: 1;

        &::after {
            width: auto;
            margin-left: 8px;
        }

        &::before {
            content: "-";
            transform: translateY(-10%);
        }
    }

    .blueBtn {
        background-color: #3877EE;
    }

    .greenBtn {
        background-color: #6ABF4B;
    }

    // #region BtnPlacement
    .Gr669 {
        left: 27%;
        top: 26%;

        &::after {
            content: "Спортзал";
        }
    }

    .Gr684 {
        left: 71%;
        top: 18%;

        &::after {
            content: "Апартаменты";
        }
    }

    .Gr679 {
        left: 59%;
        top: 37%;

        &::after {
            content: "Музей";
        }
    }

    .Gr683 {
        left: 35%;
        top: 43%;

        &::after {
            content: "Выстовка";
        }
    }

    .Gr678 {
        left: 20%;
        top: 68%;

        &::after {
            content: "Берег";
        }
    }

    .Gr682 {
        left: 66%;
        top: 62%;

        &::after {
            content: "Травматология";
        }
    }

    .Gr681 {
        left: 85%;
        top: 69%;

        &::after {
            content: "Скорая";
        }
    }

    .Gr685 {
        left: 74%;
        top: 43%;

        &::after {
            content: "Столовая";
        }
    }

    .Gr670 {
        left: 57%;
        top: 73%;

        &::after {
            content: "Отель";
        }
    }

    .Gr680 {
        left: 55%;
        top: 57%;

        &::after {
            content: "Остоновка";
        }
    }

    //#endregion
}