* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 0px;
}

.body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    background-image: url(../img/background.png);
    background-position: center;
    .backgrounde {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0.4;
        background-color: black;
        z-index: 1;
    }

    .btnContainer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;

        .button {
            height: 40px;
            width: 40px;
            position: absolute;
            border-radius: 20px;
            opacity: 0.7;
            border: none;
            cursor: pointer;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            transition: .8s ease color, .8s ease background-color;
            top: 50%;
            left: 50%;

            &::before {
                text-align: center;
                font-size: 30px;
                content: "+";
            }

            .structureName {
                display: none;
                font-size: 19px;
                overflow: hidden;
            }

            &:hover {
                background-color: white;
                opacity: 1;
                color: rgb(85, 84, 84);
            }
        }

        .activeBtn {

            width: auto;
            padding: 0px 16px;
            opacity: 1;

            &::before {
                transform: translateY(-10%);
                content: "-";
            }

            .structureName {
                margin-left: 10px;
                display: block;
            }
        }


        .blueBtn {
            background-color: #3877EE;
        }

        .greenBtn {
            background-color: #6ABF4B;
        }

        // #region BtnPlacement
        .Gr669 {
            transform: translate(-470px, - 250px);
        }

        .Gr684 {
            transform: translate(410px, -330px);
        }

        .Gr679 {
            transform: translate(170px, -130px);
        }

        .Gr683 {
            transform: translate(460px, -70px);
        }

        .Gr678 {
            transform: translate(-290px, -50px);
        }

        .Gr682 {
            transform: translate(120px, 90px);
        }

        .Gr681 {
            transform: translate(340px, 130px);
        }

        .Gr685 {
            transform: translate(710px, 220px);
        }

        .Gr670 {
            transform: translate(-510px, 170px);
        }

        .Gr680 {
            transform: translate(210px, 290px);
        }
        //#endregion
    }
}